body {
    background-color: #ee4266;
    color: #3cbbb1;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
}

h1 {
    font-size: 60px;
    text-align: center;
}

form {
    background: #2a1e5c;
    color: #c4cbca;
    padding: 15px;
}

form #entry-title {
    background: #0a0f0d;
    color: #c4cbca;
    width: 300px;
    border-radius: 25px;
    padding: 10px;
    margin-top: 5px;
}

form #entry-title:focus {
    outline: none;
}

.entry {
    width: 400px;
    height: 200px;
    border-radius: 25px;
    padding: 20px;
    background: #0a0f0d;
    color: #c4cbca;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.entry:focus {
    outline: none;
}

label {
    font-weight: bold;
    text-transform: uppercase;
}

button {
    background: #3cbbb1;
    color: #c4cbca;
    border-radius: 25px;
    padding: 5px 16px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    background: #c4cbca;
    color: #3cbbb1;
}

.button-container {
    text-align: right;
}

#entries {
    background: #3cbbb1;
    width: 440px;
    text-align: left;
    padding: 16px;
    margin-top: 10px;
    color: #0a0f0d;
}

#entries h2 {
    text-align: center;
}

.post-title {
    color: #0a0f0d;
    text-align: center;
    text-transform: capitalize;
}

.entry-paragraph {
    color: #0a0f0d;
}